

html{
  height:100%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Jost", sans-serif;
  font-size:14px;
  background-image: linear-gradient(to bottom right, #ffa578, #ff675a);
}


.biglietto{
    display:none;
}
